@import '~bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secundary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #15A0A7;
    --color-green-light: #4CBF7E;
    --color-separate: #cccccc;

}


html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
    padding-left: 80px;
    padding-right: 80px;

}



.hidden {
    display: none !important;

}


i.fab {
  font-size: 25px;
  color: var(--color-green);

}


.navbar-brand img {
  width: 140px !important;

}


a.nav-link.px-2 {
  color: var(--color-green);

}


button.btn.btn-outline-primary.me-2 {
  border-color: var(--color-green);
  color: var(--color-green);

}


button.btn.btn-primary {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-white);
  
}













