@import '~bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secundary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #15A0A7;
    --color-green-light: #4CBF7E;
    --color-separate: #cccccc;

}


header, footer {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--color-text);
    background-color: var(--color-white);
    padding-left: 60px;
    padding-right: 60px;

}


body {
  background-color: var(--color-background);
}



.hidden {
    display: none !important;

}


i.fab {
  font-size: 25px;
  color: var(--color-green);

}


.navbar-brand img {
  width: 140px !important;

}


a.nav-link.px-2 {
  color: var(--color-green);

}


button.btn.btn-outline-primary.me-2 {
  border-color: var(--color-green);
  color: var(--color-green);

}


button.btn.btn-primary {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-white);
  
}


.containerDiv {
  display: flex;
  justify-content: center;

}


.loginForm {
  width: 520px;
  padding-top: 20px;
  padding-bottom: 20px;

}


.loginLogo {
  max-width: 40px;
  
}


.loginForm h1 {
  color: var(--color-green);
  margin-top: 15px;

}


.loginForm input {
  margin-bottom: 10px;
  
}


.userAvatar {
  max-width: 100px;
  
}


.form-control {
  border: none;
  background-color: transparent;
  font-size: 22px;

}


.form-control:focus {
  box-shadow: none;
  background-color: transparent;

}


input#floatingPassword {
  height: 80px;

}


.userData label {
  font-size: 18px;

}









