@import '~bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secundary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #15A0A7;
    --color-green-light: #4CBF7E;
    --color-separate: #cccccc;

}


header, footer {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--color-text);
    background-color: var(--color-white);
    padding-left: 60px;
    padding-right: 60px;

}


footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top {
  margin: 0 !important;

}


body {
  background-color: var(--color-background);
}



.hidden {
    display: none !important;

}


i.fab {
  font-size: 25px;
  color: var(--color-green);

}

i.fas {
  font-size: 20px;
  color: var(--color-green);

}


i.fa-trash-alt {
  color: var(--color-red);
  font-size: 18px;
}

i.fa-close {
  color: var(--color-red);
  
}


.navbar-brand img {
  width: 140px !important;

}


a.nav-link.px-2 {
  color: var(--color-green);

}


button.btn.btn-outline-primary.me-2 {
  border-color: var(--color-green);
  color: var(--color-green);

}


button.btn.btn-primary {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-white);
  
}


.containerDiv {
  display: flex;
  justify-content: center;

}


.loginForm {
  width: 520px;
  padding-top: 20px;
  padding-bottom: 20px;

}


.loginLogo {
  max-width: 40px;
  
}


.loginForm h1 {
  color: var(--color-green);
  margin-top: 15px;

}


.loginForm input {
  margin-bottom: 10px;
  
}


.userAvatar {
  max-width: 100px;
  
}


.form-control {
  border: none;
  background-color: transparent;
  font-size: 22px;

}


.form-control:focus {
  box-shadow: none;
  background-color: transparent;

}


input#floatingPassword {
  height: 80px;

}


.userData label {
  font-size: 18px;

}


.card {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;

}


.cards {
  background-color: var(--color-white);
  margin: 10px;
}



.userAvatarCard {
  max-width: 35px;

}

.cardInfos {
  display: flex;
  align-items: start;
  flex-direction: column;
  
}


.cardInfos p {
  margin: 0;
  
}

.videoCanva {
  height: 600px;

}


.videocallFooter {
  position: absolute;
  bottom: 0;
  width: 100%;

}


.videocallMenu {
  background-color: var(--color-green);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 110px;

}


.callButtonsDiv {
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.videocallMenu button{
  background-color: var(--color-white);
  border-radius: 100px;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-color: var(--color-green-light);
  margin: 5px;

}


.powerOff {
  width: 60px !important;
  height: 60px !important;

}


.banAlert {
  border-color: var(--color-red) !important;

}


.bolinMenu {
  background-color: transparent !important;
  border: none !important;
  width: 25px !important;
  height: 25px !important;

}


i.far.fa-comment {
  color: var(--color-green);
  font-size: 20px;
  
}


i.fas.fa-power-off {
  color: var(--color-red);
  font-size: 35px;

}


i.fas.fa-exclamation-circle {
  color: var(--color-red);
  font-size: 25px;

}


i.fas.fa-ellipsis-v {
  color: var(--color-black);
  font-size: 30px;

}




