/* Desktop (col-lg) 992+ */

/* Desktop e Tablets (col-md) 768 a 991 */

/* Tablets (col-sm) 576 a 767 */

/* Tablets e Celulares (col) 0 a 576 */

/* Mobile (col) 0 a 767 */


@media (min-width: 768px) and (max-width: 1130px) {

    .no-tablet {
        display: none !important;

    }
    
    header, footer {
        padding-left: 20px;
        padding-right: 20px;

    }


    .row.align-items-start.containerDiv {
        justify-content: space-around;

    }


    .meuVideo {
        margin-bottom: 180px !important;
        
    }


}


@media (max-width: 767px) {

    .no-mobile {
        display: none !important;

    }


    header, footer {
        padding-left: 20px;
        padding-right: 20px;

    }

    footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top {
        display: flex;
        flex-direction: column-reverse;

    }

    ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex {
        margin-right: 15px;

    }

    ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0 {
        font-size: 14px;
    }


    .meuVideo {
        width: 100px;
        height: 100px;
        margin-bottom: 180px !important;

    }



}